.col01{
    background: #dad8d8;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col011{
    background: #dad8d8;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col012{
    background: #dad8d8;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.collg013{
    background: #dad8d8;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.collg014{
    background: #dad8d8;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
/* .col015{
    background: #dad8d8;
    color: black;
} */
.col016{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col001{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col002{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col003{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col004{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col0017{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col0001{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col0002{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col0003{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}
.col0004{
    background: #e4dfdf;
    color: black;
    border: 2px;
    border-color: black;
    border-style: solid;
}