.col1{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col01{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col02{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col03{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col04{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col-lg{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
}
.col05{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
    padding-bottom: 150px;
}
.col06{
    background:white;
    color: black;
    border: 5px;
    border-style: solid;
    border-color: rgb(62, 76, 123);
    padding-bottom: 150px;
}