/* .container{
    border: 4px;
    border-color: black;
    border-style: solid;
} */



.col01{
    background: #10cd84;
}
.col04{
    background: #10cd84;
    padding-bottom: 200px;
}
.col02{
    background: #10cd84;
}
.col03{
    background: #10cd84;
    padding-bottom: 200px;
}
.col05{
    background: #10cd84;
}
